<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url" value="jdbc:postgresql://localhost:5432/computer" />
        <property name="username" value="postgres" />
        <property name="password" value="myranto" />
    </bean>

    <!-- Hibernate 5 Annotation SessionFactory Bean definition-->
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">

        <!-- to get all entities -->
        <property name="dataSource" ref="dataSource" />
        <property name="packagesToScan" value="com.spring.springmvc_v_finale.model" />

        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>

    <bean id="AccessHibernate" class="com.spring.springmvc_v_finale.hib.AccessHibernate">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="communeController" class="com.spring.springmvc_v_finale.controller.CommuneController">
        <property name="dao" ref="AccessHibernate" />
    </bean>
    <bean id="ServiceModel" class="com.spring.springmvc_v_finale.service.ServiceModel">
        <property name="dao" ref="AccessHibernate" />
    </bean>
</beans>